body {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    font-family: Georgia, serif;
}

#aquarium-status{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 65%;
}

#play-pause-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#game-area{
    display:flex;
    flex-direction: row;
    align-items: center;
}

/* .side-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 120px;
} */

canvas {
    margin: 20px;
    background-image: url('./ImgPack/PNG/Small/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.question-section{
    margin-bottom: 20px;
}

