/* Mental Math Aquarium by Alex Chivescu
All rights reserved.
Contact: alexchivescu@gmail.com */

/* WEB If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    header {
        width:100%;
    }
    #aquarium{
        width:600px;
    }
    h1 {
      font-size: 2.0em;
      font-weight: bold;
      word-wrap: break-word;
    }
    h3 {
        font-size: 1.2em;
        word-wrap: break-word;
    }
    body {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        color: black;
        font-family: Georgia, serif;
    }
    .below-row{
        margin-bottom: 10px;
    }
    footer {
        font-size: 0.25em;
        padding: 30px;
    }
    #answer-reveal{
        height: 50px;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        font-weight: bold;
    }
    button {
        font-size: 0.8em;
        background-color: lightblue;
        font-weight: bold;
        border-radius: 4px;
    }
    .widthQnA{
        width: 50%;
    }
    .widthPurchase{
        width: 25%;
    }
    .width-filler{
        width: 20%;
    }
    #below-screen{
        width: 66%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #aquarium-status{
        width: 66%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .answerButton{
        margin: 10px 0px;
    }
    .question-section{
        margin-bottom: 10px;
    }
  }
  
  /* PHONE If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    body {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    font-family: Georgia, serif;
    font-size: 0.4em;
    font-weight: bold;
    }
    #aquarium{
        width:100%;
    }
    h1 {
    font-size: 2.5em;
    font-weight: bold;
    word-wrap: break-word;
    }
    h3 {
        font-size: 0.8em;
        font-weight: normal;
        word-wrap: break-word;
    }
    .below-row{
        margin-bottom: 5px;
    }
    footer {
        font-size: 0.25em;
        padding: 15px;
        font-weight: normal;
    }
    #answer-reveal{
        height: 30px;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        font-weight: bold;
    }
    button {
        font-size: 0.2em;
        background-color: lightblue;
        font-weight: bold;
        border-radius: 4px;
    }
    .widthQnA{
        width: 60%;
    }
    .widthPurchase{
        width: 20%;
    }
    .width-filler{
        width: 10%;
    }
    .answerButton{
        margin: 0px 5px;
    }
    #below-screen{
        width: 85%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #aquarium-status{
        width: 85%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }

header {
    line-height: 10px;
    margin: 10px 0px;
}

h3 {
    font-size: 0.8em;
}

.emoji {
    font-size: 1.2em;
}

#play-pause-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.width40perc{
    width: 40%;
}

canvas {
    margin: 15px;
    background-image: url('./ImgPack/PNG/Small/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}



