/* Mental Math Aquarium by Alex Chivescu
All rights reserved.
Contact: alexchivescu@gmail.com */

/* WEB If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    
    header {
        width:100%;
    }
    #aquarium{
        width:66%;
    }
    h1 {
      font-size: 2.0em;
      font-weight: bold;
      word-wrap: break-word;
    }
    h3 {
        font-size: 1.2em;
        word-wrap: break-word;
        line-height: normal;
        width: 100;
        text-align: center;
    }
    body {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        color: black;
        font-family: Georgia, serif;
        width: 100%;
        margin: 0;
    }
    .gutter-column{
        width:10%;
    }
    .content-column{
        width:80%;
    }
    .below-row{
        margin-bottom: 10px;
    }
    footer {
        font-size: 0.25em;
        padding: 30px;
    }
    #answer-reveal{
        height: 50px;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        font-weight: bold;
    }
    button {
        font-size: 0.8em;
        background-color: lightblue;
        font-weight: bold;
        border-radius: 4px;
    }
    #below-screen{
        width: inherit;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 0;
        margin-left:10%;
    }
    #aquarium-status{
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .button-space{
        margin: 10px 0px;
    }
    .question-section{
        margin-bottom: 10px;
    }

  }
  
  /* PHONE If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    body {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    font-family: Georgia, serif;
    font-size: 0.4em;
    font-weight: bold;
    width: 100%;
    margin: 0;
    }
    .gutter-column{
        width:10%;
    }
    .content-column{
        width:80%;
    }
    #aquarium{
        width:90%;
    }
    h1 {
    font-size: 2.5em;
    font-weight: bold;
    word-wrap: break-word;
    }
    h3 {
        font-size: 0.8em;
        font-weight: normal;
        word-wrap: break-word;
        line-height: normal;
    }
    .below-row{
        margin-bottom: 5px;
    }
    footer {
        font-size: 0.25em;
        padding: 15px;
        font-weight: normal;
    }
    #answer-reveal{
        height: 30px;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        font-weight: bold;
    }
    button {
        font-size: 0.2em;
        background-color: lightblue;
        font-weight: bold;
        border-radius: 4px;
    }
    .button-space{
        margin: 5px 0px;
    }
    .answerButton{
        margin: 0px 5px;
    }
    #below-screen{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #aquarium-status{
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
/* 
    .widthfillerTimerDifficulty{
        width: 30%;
        /* 30 for mobile 30 desktop */
    /* }
    .widthfillerTimerDifficultyMiddle{
        width: 20%; */
        /* 20 for mobile 20 desktop */
    /* }
    .widthfillerFishiesCredits{
        width: 20%; */
        /* 20 for mobile 15 desktop */
    /* }
    .widthfillergutter{
        width: 10%; */
        /* 10 for mobile 15 desktop */
    /* }
    .widthQnA{
        width: 50%; */
        /* 50 for mobile 40 desktop */
    /* } */ 

  }

header {
    line-height: 10px;
    margin: 10px 0px;
}

/* h3 {
    font-size: 0.8em;
} */

.emoji {
    font-size: 1.2em;
}

#play-pause-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
}

/* #game-area{
    width: 100%;
    max-width: 600px; */
    /* max-width: 700px; */
/* } */

canvas {
    background-image: url('./ImgPack/PNG/Medium/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}



